<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="MailSection" type="VideoNotifyBiz.MailSection, VideoNotifyBiz" />
	</configSections>
	<MailSection
			 MailFrom="promo7788@gmail.com"
			 MailFromName="Video Notify"
			 SmtpServer="smtp.gmail.com"
			 MailUserName="promo7788@gmail.com"
			 MailUserPassword="cc1998.11"
			 SmtpPort="587"
			 SmtpSSL="true"
			 IsSendEMail="true">
	</MailSection>
</configuration>

